{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "batch-runner.serviceAccountName" . }}
  labels:
    {{- include "batch-runner.labels" . | nindent 4 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: batch-runner-role
  labels:
    {{- include "batch-runner.labels" . | nindent 4 }}
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["*"]
- apiGroups: ["batch"]
  resources: ["jobs"]
  verbs: ["*"]
- apiGroups:
  - batch.flanksource.com
  resources:
  - batchtriggers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch.flanksource.com
  resources:
  - batchtriggers/finalizers
  verbs:
  - update
- apiGroups:
  - batch.flanksource.com
  resources:
  - batchtriggers/status
  verbs:
  - get
  - patch
  - update
# Leader election
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: batch-runner-binding
  labels:
    {{- include "batch-runner.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: batch-runner-role
subjects:
- kind: ServiceAccount
  name: {{ include "batch-runner.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
{{- end }}
