name: Test
on:
  pull_request: {}

  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Free up disk space
        run: |
          initial_space=$(df / | grep / | awk '{print $4}')
          docker system prune -af
          rm -rf /usr/share/dotnet
          rm -rf /opt/ghc
          rm -rf /usr/local/share/boost
          rm -rf $AGENT_TOOLSDIRECTORY
          rm -rf /opt/hostedtoolcache
          # Remove Android SDK directories (common locations)
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/android
          sudo rm -rf /usr/local/android-sdk
          sudo rm -rf /home/runner/Android

          final_space=$(df / | grep / | awk '{print $4}')
          difference=$((final_space - initial_space))
          echo "Disk space difference (in KB): $difference"

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: v1.25.x

      - uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            .bin
          key: cache-${{ hashFiles('**/go.sum') }}-${{ hashFiles('.bin/*') }}
          restore-keys: |
            cache-

      - name: Run Tests
        run: make test
